<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1 class="display-3">Django Girls blog</h1>
            <br>
            {% for post in posts %}
            <div class="row">
                <div class="card col-12">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        <p class="text-muted">published: {{ post.published_date }}</p>
                        <a href="#" class="btn btn-primary">Read</a>
                    </div>
                </div>
            </div>
        </br>
            {% endfor %}
        </div>
    </body>
</html>